<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/87534dffde.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Craftsy</title>
</head>
<body>
    <header class="home__header">
        <div class="home__header__logo--usuario">
            <div class="home__header--logo"><img src="/img/logo.png" alt="imagen-logo"></div>
        </div>
        <nav class="home__header__nav">
            <ul class="home__header__nav--ul">
                <a href="">smartphones</a>
                <a href="">tablets</a>
                <a href="">computadoras</a>
            </ul>
            <div class="home__header__nav--ul--login--box">
                <div class="home__header__nav--ul--login--icon"><i class="fa-solid fa-user"></i></div>
                <div class="home__header__nav--ul--login--box-init">
                    <a href="">login</a>
                    <a href="">registro</a>
                </div>
            </div> 
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__productos">
            <div class="home__main__productos__box">
                <div class="home__main__productos__box-div">
                    <article class="home__main__productos__box--product">
                        <div><img src="/img/img-phone-01.jpg" alt="imagen-telefono"></div>
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, ducimus ea libero unde molestias repellat dolorem, nesciunt possimus aut quas eum omnis! Consequuntur facere sunt sit in laborum quidem provident.</p>
                        <a href="">Ver Mas</a>
                    </article>
                    <article class="home__main__productos__box--product">
                        <div><img src="/img/img-phone-02.jpg" alt="imagen-telefono"></div>
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, ducimus ea libero unde molestias repellat dolorem, nesciunt possimus aut quas eum omnis! Consequuntur facere sunt sit in laborum quidem provident.</p>
                        <a href="">Ver Mas</a>
                    </article>
                    <article class="home__main__productos__box--product">
                        <div><img src="/img/img-phone-03.jpg" alt="imagen-telefono"></div>
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, ducimus ea libero unde molestias repellat dolorem, nesciunt possimus aut quas eum omnis! Consequuntur facere sunt sit in laborum quidem provident.</p>
                        <a href="">Ver Mas</a>
                    </article>
                </div>
                <div>
                    <article class="home__main__productos__box--product">
                        <div><img src="/img/img-phone-01.jpg" alt="imagen-telefono"></div>
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, ducimus ea libero unde molestias repellat dolorem, nesciunt possimus aut quas eum omnis! Consequuntur facere sunt sit in laborum quidem provident.</p>
                        <a href="">Ver Mas</a>
                    </article>
                    <article class="home__main__productos__box--product">
                        <div><img src="/img/img-phone-02.jpg" alt="imagen-telefono"></div>
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, ducimus ea libero unde molestias repellat dolorem, nesciunt possimus aut quas eum omnis! Consequuntur facere sunt sit in laborum quidem provident.</p>
                        <a href="">Ver Mas</a>
                    </article>
                    <article class="home__main__productos__box--product">
                        <div><img src="/img/img-phone-03.jpg" alt="imagen-telefono"></div>
                        <h3>Nombre del Producto</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, ducimus ea libero unde molestias repellat dolorem, nesciunt possimus aut quas eum omnis! Consequuntur facere sunt sit in laborum quidem provident.</p>
                        <a href="">Ver Mas</a>
                    </article>
                </div>
            </div>
            <div class="home__main__asides">
                <article class="home__main__asides__tutoriales">
                    <h2>Tutoriales</h2>
                    <div class="home__main__asides__tutoriales--box">
                        <img src="/img/aside-01.jpg" alt="imagen-aside">
                        <h4>Titulo del tutorial de reparacion</h4>
                    </div>
                    <div class="home__main__asides__tutoriales--box">
                        <img src="/img/aside-02.jpg" alt="imagen-aside">
                        <h4>Titulo del tutorial de reparacion</h4>
                    </div>
                    <div class="home__main__asides__tutoriales--box">
                        <img src="/img/aside-03.jpg" alt="imagen-aside">
                        <h4>Titulo del tutorial de reparacion</h4>
                    </div>
                    <div class="home__main__asides__tutoriales--box">
                        <img src="/img/aside-04.jpg" alt="imagen-aside">
                        <h4>Titulo del tutorial de reparacion</h4>
                    </div>
                </article>
                <article class="home__main__asides__publicidad">
                    <h2>Publicidad</h2>
                    <div class="home__main__asides__publicidad--box"><img src="/img/publicidad-01.jpg" alt="imagen-publicidad"></div>
                    <div class="home__main__asides__publicidad--box"><img src="/img/prublicidad-02.jpg" alt="imagen-publicidad"></div>
                </article>
            </div>
        </div>
    </main>
</body>
</html>